{% extends "binanalyze/base.html" %}

{% block content %}
    {% for shippingorder in object_list %}
        <div class="card">
            <div class="card-header">
                <b><a href="{% url 'binanalyze:shippingorder-detail' shippingorder.id %}">{{ shippingorder.name }}</a></b>
            </div>
            <div class="card-body">
                {% for item in shippingorder.items.all %}
                <p>{{ item.name }}<p>
                {% endfor%}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
