{% extends 'binanalyze/base.html' %}

{% comment %}
uhh im suprised this actually works
does jinja not have a better way than nesting for loops and ifs?
{% endcomment %}

{% block content %}

<h1>Put a header name here</h1>
{% if so_list %}
    <ul>
    {% for so in so_list %}
        <li>
        {{ so.name }}
        {% if so.items.all %}
            <ul>
            {% for itm in so.items.all %}
                <li>{{ itm.name }}</li>
            {% endfor%}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock content%}