{% extends "base/base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ object.name }}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'binanalyze:item-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'binanalyze:item-delete' object.id %}">Delete</a>
        </div>
        <div class="card-body">
            <p>{{ object.length }}<p>
            <p>{{ object.width }}<p>
            <p>{{ object.height }}<p>
            <p>{{ object.weight }}<p>
        </div>
    </div>
{% endblock content %}
